* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
}


.container {
  max-width: 80%;
  margin: 0 auto;
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  cursor: pointer;
}

@media(max-width:768px) {


  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
  }
}
